.header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 1000;
  box-shadow: 0 1px 5px var(--fade);
  height: 80px;
  display: flex;
  align-items: center;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--accent);
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s;
  font-size: 1.1rem;
  font-weight: 500;
}

.navLinks a:hover {
  color: var(--accent);
}

.right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
}


.languageSwitch {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 32px;
}


.languageSwitch button {
  height: 32px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.languageSwitch button:hover {
  background: var(--accent);
  color: var(--bg);
}

.activeLang {
  background: var(--accent);
  color: var(--bg);
}
.socials {
  display: flex;
  align-items: center;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--text);
  line-height: 1;
  height: 32px;
  width: 32px;
}


.socials a:hover {
  color: var(--accent);
  transform: translateY(-2px);
}
