.footer {
  width: 100%;
  padding: 1.5rem;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.text {
  font-size: 0.9rem;
}

.subtext {
  font-size: 0.8rem;
  opacity: 0.7;
}

.links {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  
}

.links a {
  font-size: 1.25rem;
  color: var(--text);
  line-height: 1;
}

.links a:hover {
  color: var(--accent);
  transform: translateY(-2px);
}
