.section {
  padding: 5rem 0;
  color: var(--slate);
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text);
  border-bottom: 1px solid #233554;
  padding-bottom: 0.5rem;
}

.slash {
  color: var(--accent);
}

.contentContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.tabs {
  list-style: none;
  padding-left: 0;
  border-left: 1px solid #1e2a38;
  flex: 0 0 200px;
}

.tab {
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: #8892b0;
  position: relative;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.active {
  color: var(--accent);
  background-color: #1a1a1a;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: var(--accent);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.innerDetails {
  width: 100%;
}

.jobTitle {
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.date {
  font-size: 1rem;
  font-weight: bold;
  color: #b7c4eb;
  margin-bottom: 1rem;
}

.description{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #adb8dd;
}

.points {
  list-style: none;
  padding-left: 0;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
}

.points li {
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #8892b0;
}
